{% extends 'dashboard/base.html' %}
{% block content %}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Xodimlar</a></li>
                                <li class="breadcrumb-item active">Xodimlar ro'yxati</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Xodimlar ro'yxati</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-sm-5">
                                    <a href="{% url 'dashboard:worker_create' %}" class="btn btn-danger mb-2"><i class="mdi mdi-plus-circle me-2"></i> Xodim qo'shish</a>
                                </div>
                                <div class="col-sm-7">
                                    <div class="text-sm-end">
                                        <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog"></i></button>
                                        <button type="button" class="btn btn-light mb-2 me-1">Import</button>
                                        <button type="button" class="btn btn-light mb-2">Export</button>
                                    </div>
                                </div><!-- end col-->
                            </div>
    
                            <div class="table-responsive">
                                <table class="table table-centered table-striped dt-responsive nowrap w-100" id="products-datatable">
                                    <thead>
                                        <tr>
                                            <th style="width: 20px;">
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck1">
                                                    <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                                </div>
                                            </th>
                                            <th><b>ID</b></th>
                                            <th>Ism</th>
                                            <th>Familya</th>
                                            <th>Telefon</th>
                                            <th>Lavozimi</th>
                                            <th style="width: 65px;">Tahrirlash</th>
                                            <th style="width: 65px;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for  worker in workers %}
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="customCheck2">
                                                    <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                                </div>
                                            </td>
                                            <td>
                                                 {{ worker.id }}
                                            </td>
                                            <td class="table-user">
                                                {% if worker.image %}
                                                <img src="{{worker.image.url}}" alt="table-user" class="me-2 rounded-circle">
                                                {% endif %}
                                                <a href="javascript:void(0);" class="text-body fw-semibold">{{worker.first_name}}</a>
                                            </td>
                                            <td>
                                                {{worker.last_name}}
                                            </td>
                                            <td>
                                                {{worker.tel}}
                                            </td>
                                            <td>
                                                {{worker.position}}
                                            </td>
                                            <td>
                                                <a href="{% url 'dashboard:worker_edit' worker.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                            </td>
                                           
                                            <td>
                                                <a  class="action-icon" data-bs-toggle="modal" data-bs-target="#centermodal{{forloop.counter}}" > <i class="mdi mdi-delete"></i></a>   
                                        
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
            
        </div> <!-- container -->

    </div> <!-- content -->
    {% for i in workers %}
    <div class="modal fade" id="centermodal{{forloop.counter}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myCenterModalLabel">Xodimni  o`chirmoqchimisiz? </h4>
                    <form method="get" action="{% url 'dashboard:worker_delete' i.id %}">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                    </div>
                    <div class="modal-body">
                        
                        <input type="checkbox" class="form-check-input" id="customCheckcolor7" required>
                        <label for="chkb">Ha</label> <br> <br>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal" aria-hidden="true">Qaytish</button>
                        <button class="btn btn-danger" type="submit">O`chirish</button>
                    </div>
                    </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endfor %}

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
                </div>
                <div class="col-md-6">
                    <div class="text-md-end footer-links d-none d-md-block">
                        <a href="javascript: void(0);">About</a>
                        <a href="javascript: void(0);">Support</a>
                        <a href="javascript: void(0);">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->

</div>
{% endblock %}